<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body  ng-app="" ng-init="myCol='lightblue'" style="background-color:{{myCol}}">

<label for="myCol">Enter the color you would like the page to be: </label>
<input id="myCol" ng-model="myCol">

<div ng-app="" ng-init="names=['Jani','Hege','Kai']">
    <ul>
        <li ng-repeat="x in names">
            {{ x }}
        </li>
    </ul>
</div>

</body>
</html>
